html,
body {
  background: #f7f7f7;
}

.app {
  display: inline-grid;
  gap: 1em;
  margin: 2em;

  grid-template-areas:
    "a d"
    "b d"
    "c d";
}

.app section:nth-child(4) {
  grid-area: d;
}

.app section {
  display: grid;
  gap: 1em;
  align-content: baseline;

  padding: 1em;
  background: #fff;
  box-shadow: 0px 2px 6px 2px #0002;
}

.app ul,
.app h2 {
  margin: 0;
}

.app th {
  padding-bottom: 0.5em;
  text-align: left;
}

.app td {
  padding-right: 1em;
}

.app button {
  background: #17f;
  color: #fff;
  font: inherit;
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 0.5em 1.5em;
}

.app button:active {
  background-color: #05b;
}

.app input {
  border: 1px solid #999;
  border-radius: 3px;
  font: inherit;
  padding: 0.5em;
  outline: none;
}

.app input:focus {
  outline: auto #17f;
}